<footer>
  <address>
    <p>Contact the author of this page:</p>
    <a href="mailto:webmaster@example.com">Jon Doe</a>. Visit us at:<br />
    Example.com<br />
    Box 564, Disneyland<br />
    USA
    <br />
    <a href="tel:+13115552323">+13115552323</a>
  </address>
</footer>